@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@{
    var headerImage = Model.Value<IPublishedContent>("headerImage");
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Wanna Talk Monkey Business?</h1>
                </div>
            </div>
        </div>
     </div>
</header>

<section class="py-5 border-bottom">
    @Model.Value("mainContent")

    <div class="row">
        <div class="col-sm-12 text-center">
            @if (headerImage != null)
            {
                <img src="@headerImage.Url()" class="img-fluid" />
            }
            else
            {
                <p>No image selected</p>
            }
        </div>
    </div>
    <div class="text-center">
        <h3>Wanna come visit us? Swing by our treehouse here!</h3>
        <p>We love chatting with our fellow monkeys, so come by for a non-binding talk (and banana) about your business </p>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=10.384917855262758%2C55.4043439514362%2C10.391741394996643%2C55.408084037027706&amp;layer=mapnik&amp;marker=55.40621403848001%2C10.3883296251297" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=55.40621&amp;mlon=10.38833#map=18/55.40621/10.38833">Vis større kort</a></small>
    </div>
</section>
