.landing-header {
    height: 75vh; 
    background-color: rgb(0 0 0 / 66%)
}

#header-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#about-us {
    width: 100vw;
    background-image: url("/media/4ipb4ap5/monkey-serious.jpg");
    height: 800px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}